.reciept {
  min-height: 80vh;
}

img {
  max-height: 10vh;
  background-position: center;
  background-size: cover;
}

.card {
  cursor: pointer;
  transition: all .2s ease;
}

.card:hover {
  transform: scale(1.1);
}